<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Rango Says...</h1><br />
    here is the about page.
    <a href="\ ">Back</a><br />
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /><br />
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" /><br />
    This tutorial has been put together by {{ nombre }}

</body>
</html>